body{
    font-family: 'Poppins', sans-serif;
    

}

.imagem-fundo{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: right;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 43%, rgba(0,0,0,0.16290266106442575) 72%, rgba(0,0,0,0) 100%);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1280px;
    margin: 0 auto;
}

.cabecalho .logo-netflix{
    width: 200px;
    padding: 0;
    margin-top: -40px;
    margin-left: -70px;
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a{
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 10px;
    margin: 0 auto;
    border-radius: 50px;
    transition: 0.7s;
}

.cabecalho nav li a:hover{
    background-color: red;
}

.titulo {
    display: flex;
    margin-left: 0;
    width: 460px;
    border-radius: 40px;
    margin-top: -45px;
}

.btn {
    padding: 15px 30px;
    display: inline;
    background-color: red;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.5s;
    position: absolute;
    top: 53%;
    left: 17%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn:hover{
    background-color: #ffffff;
    color: red;
}

.janela-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.janela-modal.abrir{
    display: flex;
}

.fechar{
    position: fixed;
    top: 130px;
    right: 390px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}